* {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* banner */

.banner {
    /* background-color: #8d9095; */
    height: 270px;
    margin-bottom: 130px;
    border-top: 2px solid #fff;
}

.banner img {
    width: 100%;
    /* height: 270px; */
}

@media only screen and (max-width:768px) {
    .banner {
        /* background-color: #8d9095; */
        height: 270px;
        margin-bottom: 0px;
        border-top: 2px solid #fff;
    }
}

.big-box {
    width: 100%;
}


/* item */

.title {
    padding: 20px 20px 0;
    height: 82px;
    text-align: center;
    line-height: 82px;
    font-size: 32px;
    color: #000000;
}

@media only screen and (max-width:992px) {
    .title {
        font-size: 32px;
        transition: all 1s;
    }
    .banner {
        /* background-color: #8d9095; */
        height: 270px;
        margin-bottom: 20px;
        border-top: 2px solid #fff;
    }
}

@media only screen and (max-width:768px) {
    .title {
        font-size: 20px;
        transition: all 1s;
    }
}

.row {
    width: 1024px;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 100px;
    margin: 0 auto;
}

.lunbo {
    float: left;
    width: 270px;
    height: 350px;
    z-index: 0;
}

.swiper-container {
    margin-left: 50px;
}

.lb {
    width: 50%;
    height: 300px;
    overflow: hidden;
}

.lunbo img {
    display: block;
    width: 270px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
}

.swiper-pagination {
    width: 350px;
}

.word {
    margin-top: 20px;
    float: right;
    width: 50%;
}

.witem {
    margin-top: 20px;
    padding: 40px 5px;
    margin: 0 auto;
}

.price {
    font-size: 14px;
    color: #808080;
}

.price1 {
    margin-top: 24px;
}

.price1>span {
    font-size: 14px;
    color: #808080;
}

.price1>.buy-price {
    font-size: 26px;
    color: #E40000;
    font-weight: 700;
}

.line {
    margin: 30px 0 34px 0;
    border-bottom: 1px dotted rgb(194, 194, 194);
}

.state {
    font-size: 14px;
    color: #808080;
}

@media only screen and (max-width:992px) {
    .lunbo {
        width: 100%;
        margin: auto;
    }
    .word {
        width: 100%;
        float: left;
    }
    .row {
        max-width: 100%;
        width: 1000px;
        /* padding-top: 20px; */
        padding-left: 0;
        padding-right: 0;
        /* padding-left: 150px;
        padding-right: 100px; */
        margin: auto;
    }
    .lb {
        margin: 0 auto;
    }
}

@media only screen and (max-width:768px) {
    .lunbo {
        margin: 0 auto;
    }
    .lb>img {
        margin: 0 auto;
        width: 100%;
        transition: all 1s;
    }
    .row {
        max-width: 100%;
        width: 1000px;
        padding-top: 20px;
        margin: 0 auto;
    }
    .lb {
        position: relative;
        width: 100%;
    }
}

.wenzi {
    width: 984px;
    margin: 30px auto;
    text-align: left;
    line-height:2em;
}

.jieshao {
    height: 50px;
}

.neirong1 {
    width: 100%;
}

.neirong2 {
    width: 100%;
}

@media only screen and (max-width:992px) {
    .wenzi {
        width: 100%;
        margin: 30px auto;
        text-align: left;
        line-height:2em;

    }
    .neirong1 {
        width: 100%;
    }
    .neirong2 {
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .wenzi {
        width: 100%;
        margin:30px auto;
        text-align: left;
        line-height:2em;
    }
    .neirong1 {
        margin: 0;
        width: 100%;
        transition: all 1s;
    }
    .neirong2 {
        margin: 0;
        width: 100%;
        margin-top: 50px;
        transition: all 1s;
    }
}