<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="active"><a href="#table">产品分类</a></li>
    <li><a href="#inputs">查看分类</a></li>

</ul>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">产品分类</label>
        <input type="text" name="cname" class="form-control" id="exampleInputEmail1" placeholder="产品分类">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</body>
</html>
<script>
    $('form').on('submit',function (e) {
        e.preventDefault();
        let qe=$(this).serialize();
        $.ajax({
            type:'POST',
            url:'cateinsert.php',
            dataType:'json',
            data:qe,
            context:this,
            success(res){
                if(res.code===200){
                    this.reset();
                }
                else {
                    alert('输入失败');
                }
            }

        })

    })
</script>