<?php
    $sql="select * from nav where id='$id'";
    $nav = $mysql->query($sql)->fetch_assoc();
?>
<link rel="stylesheet" href="../static/css/fwxm.css">
<div class="row">
    <div class="container">

            <div class="tupian">
                <img src="../static/imgs/BannerOnes.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="box">
                <div class="box-left"></div>
                <div class="gywm">
                    <p> <?php echo $nav['nname'];?></p>
                    <p class="services"> <?php echo $nav['ename'];?></p>
                </div>
                <div class="box-right">
                    <div class="tc"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="list">
                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <img src="../static/imgs/cp1.jpg" alt="">
                    </div>
                    <p class="zi">仙鹤</p>
                    <div class="line">
                        <img src="../static/image/line.png" alt="">
                    </div>
                    <p class="text">精美婚纱套装，等待美丽的新娘穿上<br>属于自己量身定做的婚纱，走向幸福的殿堂让你与众不同，由内而外的迷人气质成为你的主场秀。</p>

                </div>
                <div class="list-box animated fadeInUp">
                    <div class="list-1 ">
                        <img src="../static/imgs/cp2.jpg" alt="">
                    </div>
                    <p class="zi">蝴蝶</p>
                    <div class="line">
                        <img src="../static/image/line.png" alt="">
                    </div>
                    <p class="text">西式教堂的别致风格，让你的婚礼更加新颖，有一种神圣的教堂婚礼的神秘魅力，配合教堂精致的装饰，更加具有意义。</p>

                </div>
                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <img src="../static/imgs/cp3.jpg" alt="">
                    </div>
                    <p class="zi">鸳鸯</p>
                    <div class="line">
                        <img src="../static/image/line.png" alt="">
                    </div>
                    <p class="text">专业的摄影团队，为你打造完美婚纱外景效果，结合不同的摄影场地，让你的照片更丰富多彩，镜头更加现代或复古满足你的一切需求。 </p>

                </div>
                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <img src="../static/imgs/cp4.jpg" alt="">
                    </div>
                    <p class="zi">梦幻</p>
                    <div class="line">
                        <img src="../static/image/line.png" alt="">
                    </div>
                    <p class="text">精致的相册装饰，设计你想要的相册风格，满足顾客的需求，有不同的设计版本供您参考，只有不断的创意才能满足您的设计要求。</p>

                </div>
            </div>
        </div>
    </div>
    <!-- <div class="last"></div> -->
    <!--尾栏 -->
<?php
require '../view/index/foot.html';
?>