<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<link rel="stylesheet" href="../static/css/index.css">
<!--<link rel="stylesheet" href="../view/index/header.html">-->
<!-- header结束 -->
<!-- 轮播图开始 -->
<div class="swiper-container" id="ban" style="height: 500px;">
    <div class="swiper-wrapper">
        <div class="item swiper-slide">
            <img src="../static/imgs/BannerOne.jpg" alt="未连接">
        </div>
        <div class="item swiper-slide">
            <img src="../static/imgs/BannerTwo.jpg" alt="未连接">
        </div>
        <div class="item swiper-slide">
            <img src="../static/imgs/BannerThree.jpg" alt="未连接">
        </div>
        <div class="item swiper-slide">
            <img src="../static/imgs/BannerFour.jpg" alt="未连接">
        </div>
        <div class="item swiper-slide">
            <img src="../static/imgs/BannerFive.jpg" alt="未连接">
        </div>
        <div class="item swiper-slide">
            <img src="../static/imgs/BannerSix.jpg" alt="未连接">
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<!-- 轮播图结束 -->
<div class="kong">

</div>
<!-- 内容部分开始 -->
<div class="all container">
    <div class="row">
        <!-- 小标题部分开始 -->
        <div class="font-text">
            <div class=" text-title">
                营养新高度，成就更好人生
            </div>
            <div class="text-p">
                因为你——值得更好
            </div>
        </div>
        <!-- 小标题部分结束 -->
        <!-- 四小部分开始 -->
        <div class="tuijian">
            <div class="tj-itme animated  ">
                <div class="img">
                    <img src="../static/imgs/cp2.jpg" alt="">
                </div>
                <div class="title">
                    覆盖地域广
                </div>
                <div class="title-fg">
                    <img src="../static/img/fg1.png" alt="">
                </div>
                <div class="font-p">
                    覆盖全国900多个城市，超2000家实体门面 为您提供异地服务
                </div>
            </div>
            <div class="tj-itme animated ">
                <div class="img ">
                    <img src="../static/imgs/cp3.jpg" alt="">
                </div>
                <div class="title">
                    三小时送货上门
                </div>
                <div class="title-fg">
                    <img src="../static/img/fg1.png" alt="">
                </div>
                <div class="font-p">
                    订单保鲜产品提供3小时送货上门服务
                </div>
            </div>
            <div class="tj-itme animated ">
                <div class="img">
                    <img src="../static/imgs/cp4.jpg" alt="">
                </div>
                <div class="title">
                    一站式采购
                </div>
                <div class="title-fg">
                    <img src="../static/img/fg1.png" alt="">
                </div>
                <div class="font-p">
                    花礼网提供多品类一站式采购方案

                </div>
            </div>
            <div class="tj-itme animated  ">
                <div class="img">
                    <img src="../static/imgs/cp5.jpg" alt="">
                </div>
                <div class="title">
                    强大的售后保障
                </div>
                <div class="title-fg">
                    <img src="../static/img/fg1.png" alt="">
                </div>
                <div class="font-p">
                    强大的服务后台和管理体系为您的权益提供保障
                </div>
            </div>
        </div>
        <!-- 四小部分结束 -->

        <!-- 引领时代部分开始 -->
        <div class="yinl">
            <div class="yinl-title">
                不是所有牛奶都叫做特仑苏
            </div>
            <!-- <div class="yinl-img">
                <img src="../static/image/鲜花/分割线.png" alt="">
            </div> -->
            <div class="lvyouzhishi ">
                <div class="content ">
                    <span class="line "></span>
                    <div class="viv ">
                        <span class="yanghu ">THREE</span>
                        <span class="know ">Wedding Dress</span>
                    </div>
                    <span class="line-right "></span>
                </div>
            </div>
        </div>
        <!-- 引领时代部分结束 -->

        <!-- 公司简介部分开始 -->
        <div class="gsjj">
            <div class="gsjj-img col-md-4 animated ">
                <img src="../static/imgs/company1.jpg" alt="">
            </div>
            <div class="gsjj-right col-md-8">
                <div class="gsjj-title ">
                    公司简介
                    <div class="more">
                        <a href="about.html"> MORE+</a>
                    </div>
                </div>
                <div class="gsjj-p">
                    <div class="gsji-p1">
                        “特仑苏”在蒙语中是“金牌牛奶”之意,也是蒙牛的一个牛奶品牌。它的产地—中国乳都核心区和林格尔，依托北纬40度左右、中温带暖湿季风性气候、世界公认的优质奶源带等一系列得天独厚的优势自然条件，提供了市场稀缺的高品质奶源。这里有蒙牛的澳亚国际牧场，有蒙牛的全球样板工厂，也有其全智能自动化控制中心与牛奶健康研究发展中心。        </div>
                    <div class="gsjj-p2">
                        由于采用了国际先进的加工技术，最大程度保证牛奶中营养成分，“特仑苏”成品经过严格的检测，包含了丰富的天然优质乳蛋白，每100克牛奶中蛋白质含量可以达到3.3克，比国家标准高13.8%，其整体营养含量更是高于普通牛奶，而且口味更香、更浓、更滑。而从产品定价看，因其品质高而产量有限，市场售价也是普通纯牛奶的2倍左右。据了解，作为一种高端牛奶制品，特仑苏在保证普通牛奶健康营养特性的基础上，突出的高 蛋白可以更好地维持人体正常的新陈代谢和各类物质在体内的输送，增强人体免疫力，保持人体内的酸碱平衡及水分的分布，对人体健康非常有益。</div>
                </div>
            </div>
        </div>

        <!-- 公司简介部分结束 -->
        <!-- 美容知识开始 -->
        <div class="mrzs">
            <div class="mrzs-left  col-md-8">
                <div class="mrzs-title ">
                    牛奶益处
                    <div class="more">
                        <a href="新闻资讯.html"> MORE+</a>
                    </div>
                </div>
                <div class="mrzs-p">
                    <ul class="mrzs-ul">
                        <a href="修车五大禁忌忌开锅时贸然开引擎盖 copy.html">
                            <li class="mrzs-li">
                                喝牛奶的五大好处
                                <span>2019-11-11</span>
                            </li>
                        </a>
                        <a href="你的爱车清理到位了吗 可别忘记排水孔 copy.html">
                            <li class="mrzs-li">
                                牛奶这样喝更美味
                                <span>2019-11-11</span>
                            </li>
                        </a>
                        <a href="配置升级 2015款凯迪拉克XTS到店实拍.html">
                            <li class="mrzs-li">
                                牛奶还可以这样吃
                                <span>2019-11-11</span>
                            </li>
                        </a>
                        <a href="Q4受阻 菲亚特抢注名称.html">
                            <li class="mrzs-li">
                                有机奶和无机奶的区别
                                <span>2019-11-11</span>
                            </li>
                        </a>
                        <a href="新能源汽车补贴酝酿新思路.html">
                            <li class="mrzs-li m">
                                我们为什么不叫牛奶“奶妈”
                                <span>2019-11-11</span>
                            </li>
                        </a>
                    </ul>

                </div>
            </div>
            <div class="mrzs-img  col-md-4 animated ">
                <img src="../static/imgs/company2.jpg" alt="">
            </div>
        </div>
        <!-- 美容知识结束 -->

    </div>
</div>
<!-- 内容部分结束 -->
<?php
require '../view/index/foot.html';
?>
</body>
</html>