
<link rel="stylesheet" href="../static/css/new.css">

    <!-- 头部开始 -->
    <div class="pic-box ">
        <img src="../static/imgs/BannerFours.jpg " alt=" ">
    </div>
    <!-- 养护文字开始 -->
    <div class="yanghu-box ">
        <div class="line-left "></div>
        <div class="yanghu-text-box ">
            <div class="yanghu-text ">
                特仑苏背景
            </div>
            <div class="yanghu-english ">
               Teransun Backgroound
            </div>
        </div>
        <div class="line-right "></div>
    </div>
    <!-- 养护文字结束 -->

    <!-- 正文段落开始 -->

    <div class="texts-box ">
        <p class="title ">京绣&精灵</p>
        <div class="fabu-date ">
            <span>发布日期：2019-09-21 12:03</span>
        </div>
        <div class="zhengwen-box ">
            <div class="zhengwen-first ">
                <span>“特仑苏”在蒙语中是“金牌牛奶”之意,也是蒙牛的一个牛奶品牌。它的产地—中国乳都核心区和林格尔，依托北纬40度左右、中温带暖湿季风性气候、世界公认的优质奶源带等一系列得天独厚的优势自然条件，提供了市场稀缺的高品质奶源。这里有蒙牛的澳亚国际牧场，有蒙牛的全球样板工厂，也有其全智能自动化控制中心与牛奶健康研究发展中心。</div>
            <div>
                <span>&nbsp</span>
            </div>
            <p>
                <span>
                    由于采用了国际先进的加工技术，最大程度保证牛奶中营养成分，“特仑苏”成品经过严格的检测，包含了丰富的天然优质乳蛋白，每100克牛奶中蛋白质含量可以达到3.3克，比国家标准高13.8%，其整体营养含量更是高于普通牛奶，而且口味更香、更浓、更滑。而从产品定价看，因其品质高而产量有限，市场售价也是普通纯牛奶的2倍左右。据了解，作为一种高端牛奶制品，特仑苏在保证普通牛奶健康营养特性的基础上，突出的高 蛋白可以更好地维持人体正常的新陈代谢和各类物质在体内的输送，增强人体免疫力，保持人体内的酸碱平衡及水分的分布，对人体健康非常有益。</span>
            </p>
            <p>
                <span>&nbsp</span>
            </p>
            <p>
                <span>从苛刻的指纹认证车间管理，到先进的科技和悉心的关怀，每一个环节都无可挑剔，也令来自这群快乐的乳牛的牛奶，每一滴都感受过草原的清风碧草；每一滴都蕴含着天地间的精华；每一滴都是北纬40度的杰作；每一滴，都是大自然的恩赐；每一滴都是无数人呵护的珍宝；每一滴，都是上天青睐的、独一无二的特仑苏。为了保持牛奶品质的不断进化，集海外与本土资源于一体的蒙牛高科技乳品研究院作为特仑苏的研发后盾，除不断优化技术，保障每一滴奶液的品质之外，还对国际乳业走势、高新科技的开发等各方面进行深入研究。正是得天独厚的先天条件、始终如一的苛刻要求，以及对品质的不断追求，令特仑苏在2006年作为中国乳业的唯一代表，赢得IDF第27届世界乳业大会的全场大奖。在这项有着50个成员国，拥有 104年历史的行业盛会上，中国的乳品第一次大放异彩，为我国乃至亚洲赢得世界级的荣誉。</span>
            </p>
            <p>
                <span>&nbsp</span>
            </p>
            <p>
                <span>
                    特仑苏牛奶，来自位于北纬40度左右黄金奶源带上的特仑苏专属牧场。国际良种奶牛、进口优质牧草、先进的动物福利，为牧草的生长、奶牛的生活提供了绝佳条件，使得每一滴特仑苏牛奶都注入了“幸福因子”。配备的国际先进生产设备及管理体系，检验标准高于欧美等发达国家水平，完美保障了特仑苏的高端品质，成就了特仑苏3.3克天然优质乳蛋白含量。</span>
            </p>
            <p>
                <span>
                    特仑苏牛奶:每一滴都蕴含着天地间的精华；每一滴都是北纬40度的杰作；每一滴都是无数人呵护的珍宝；每一滴，都得上天青睐、独一无二。不是所有牛奶都叫特仑苏。</span>
            </p>
        </div>
    </div>
    <!-- 正文段落结束 -->

    <!-- 上下篇 开始-->

<div class="container" style="height: 50px;">
    <span>上一篇：<?php echo $prevstr?></span>
    <span style="float: right">下一篇：<?php echo $prevstr1?></span>
</div>

    <!-- 屏幕为992以下时 -->
    <div class="prenext-clone ">
        <div class="before ">
            <a href=" ">
                <span class="befor ">上一篇</span>&nbsp
                <span class="befor-title ">你的爱车清理到位了吗 可别忘记排水孔</span>
            </a>
        </div>
        <div class="next-box ">
            <a href=" ">
                <span class="next ">没有了</span>&nbsp
                <span class="next-title ">下一篇</span>
            </a>
        </div>
    </div>
    <!-- 上下篇结束 -->


    <!-- 返回按钮开始 -->

    <div class="back-btn ">
        <div class="btn-box ">
            <a href="../新闻资讯/新闻资讯.html "><button>返回列表</button></a>
        </div>
    </div>

    <!-- 返回按钮结束 -->

    <!-- 底部图片开始 -->

    <div class="lastpic-box ">
        <img src="../static/imgs/BannerThrees.jpg " alt=" ">
    </div>

    <!-- 底部图片结束 -->


    <!--尾栏 -->
<?php
require '../view/index/foot.html';
?>