<?php
    $sql="select * from news";
    $res=$mysql->query($sql)->fetch_all(MYSQLI_ASSOC);
$sql="select * from nav where id='$id'";
$nav = $mysql->query($sql)->fetch_assoc();
?>
<link rel="stylesheet" href="../static/css/xinwenzixun.css">
<!-- 头部图片开始 -->
<div class="pic-box">
    <img src="../static/imgs/Bannerfives.jpg" alt=" ">
</div>
<!-- 头部图片结束 -->
<!-- 养护文字开始 -->
<div class="yanghu-box">
    <div class="line-left"></div>
    <div class="yanghu-text-box">
        <div class="yanghu-text">
            <?php echo $nav['nname'];?>
        </div>
        <div class="yanghu-english">
            <?php echo $nav['ename'];?>
        </div>
    </div>
    <div class="line-right"></div>
</div>
<!-- 养护文字结束 -->
<!-- 底部图片结束 -->
    <!-- 文章标题开始 -->
    <div class="content">
        <div class="list">
            <?php
                    foreach($res as $key=>$v){
            ?>
            <div class="post-title">
                <a href="new.php?id=<?php echo $v['id']?>"><?php echo $v['type']?>
                    <?php echo $v['detail']?>
            <span class="time"><?php echo $v['time']?></span>
                </a>
        </div>
            <?php
                    }
                    ?>

        </div>
    </div>
    <!-- 文章标题结束 -->



<!-- 底部图片开始 -->
<div class="lastpic-box">
    <img src="../static/imgs/BannerTwos.jpg" alt=" ">
</div>
    <!--尾栏 -->
    <?php
require '../view/index/foot.html';
?>